In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('StudentsPerformance.csv')
df.info()
df.duplicated().sum()
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [3]:
df['gender'].unique()

array(['female', 'male'], dtype=object)

In [4]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [5]:
df.rename(
    columns={
        'gender':'gender',
        'race/ethnicity':'race',
        'parental level of education':'parental_level_of_education',
        'lunch':'lunch',
        'test preparation course':'test_preparation_course',
        'math score':'math_score',
        'reading score':'reading_score',
        'writing score':'writing_score'

    },
inplace= True
)
print(df)

     gender     race parental_level_of_education         lunch  \
0    female  group B           bachelor's degree      standard
1    female  group C                some college      standard
2    female  group B             master's degree      standard
3      male  group A          associate's degree  free/reduced
4      male  group C                some college      standard
..      ...      ...                         ...           ...
995  female  group E             master's degree      standard
996    male  group C                 high school  free/reduced
997  female  group C                 high school  free/reduced
998  female  group D                some college      standard
999  female  group D                some college  free/reduced

    test_preparation_course  math_score  reading_score  writing_score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

In [6]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [7]:
reading_full = df[df['reading_score'] == 100 ]['reading_score'].count()
math_full = df[df['math_score'] == 100 ]['math_score'].count()
writing_full = df[df['writing_score'] == 100 ]['writing_score'].count()
print(reading_full)
print(math_full)
print(writing_full)

17
7
14

In [8]:
pass_great = 50
df['pass_math']= 'yes'
filt = (df['math_score'] < pass_great)
df.loc[filt, 'pass_math'] = 'no'
df[["math_score" , 'pass_math']].head()

pass_great = 50
df['pass_reading']= 'yes'
filt = (df['reading_score'] < pass_great)
df.loc[filt, 'pass_reading'] = 'no'
df[["reading_score" , 'pass_reading']].head()

pass_great = 50
df['pass_writing']= 'yes'
filt = (df['writing_score'] < pass_great)
df.loc[filt, 'pass_writing'] = 'no'
df[["writing_score" , 'pass_writing']].head()

print(df)

     gender     race parental_level_of_education         lunch  \
0    female  group B           bachelor's degree      standard
1    female  group C                some college      standard
2    female  group B             master's degree      standard
3      male  group A          associate's degree  free/reduced
4      male  group C                some college      standard
..      ...      ...                         ...           ...
995  female  group E             master's degree      standard
996    male  group C                 high school  free/reduced
997  female  group C                 high school  free/reduced
998  female  group D                some college      standard
999  female  group D                some college  free/reduced

    test_preparation_course  math_score  reading_score  writing_score  \
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

    pass_math pass_reading pass_writing
0         yes          yes          yes
1         yes          yes          yes
2         yes          yes          yes
3          no          yes           no
4         yes          yes          yes
..        ...          ...          ...
995       yes          yes          yes
996       yes          yes          yes
997       yes          yes          yes
998       yes          yes          yes
999       yes          yes          yes

[1000 rows x 11 columns]

In [10]:
pass_math_count = df.groupby('pass_math')['pass_math'].count()
print(pass_math_count)

pass_math
no     135
yes    865
Name: pass_math, dtype: int64